<h4>Formularios <small>data</small></h4>
<hr />
<form [formGroup]="formData" (ngSubmit)="save()">
  <div>
    <div formGroupName="fullName">
      <div class="form-group row">
        <label class="col-2 col-form-label">Nombre</label>
        <div class="col-8">
          <input
            class="form-control"
            [ngClass]="{
              'is-invalid':
                formData.get('fullName.name').invalid &&
                formData.get('fullName.name').touched,
              'is-valid':
                formData.get('fullName.name').valid &&
                formData.get('fullName.name').touched
            }"
            type="text"
            placeholder="Nombre"
            formControlName="name"
          />
          <div
            class="alert alert-danger mt-2"
            role="alert"
            *ngIf="
              formData.get('fullName.name').errors &&
              formData.get('fullName.name').errors['required'] &&
              formData.get('fullName.name').touched
            "
          >
            Este campo es requerido
          </div>
          <div
            class="alert alert-danger mt-2"
            role="alert"
            *ngIf="
              formData.get('fullName.name').errors &&
              formData.get('fullName.name').errors['minlength'] &&
              formData.get('fullName.name').touched
            "
          >
            Este campo debe tener al menos
            {{
              formData.get("fullName.name").errors["minlength"][
                "requiredLength"
              ]
            }}
            caracteres
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label">Apellido</label>
        <div class="col-8">
          <input
            class="form-control"
            [ngClass]="{
              'is-invalid':
                formData.get('fullName.lastName').invalid &&
                formData.get('fullName.lastName').touched,
              'is-valid':
                formData.get('fullName.lastName').valid &&
                formData.get('fullName.lastName').touched
            }"
            type="text"
            placeholder="Apellido"
            formControlName="lastName"
          />
          <div
            class="alert alert-danger mt-2"
            role="alert"
            *ngIf="
              formData.get('fullName.lastName').errors &&
              formData.get('fullName.lastName').errors['required'] &&
              formData.get('fullName.lastName').touched
            "
          >
            Este campo es requerido
          </div>
          <div
            class="alert alert-danger mt-2"
            role="alert"
            *ngIf="
              formData.get('fullName.lastName').errors &&
              formData.get('fullName.lastName').errors['noLastName'] &&
              formData.get('fullName.lastName').touched
            "
          >
            Este campo no puede contener la palabra Apellido
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">
        <input
          class="form-control"
          [ngClass]="{
            'is-invalid':
              formData.controls['name'].invalid &&
              formData.controls['name'].touched,
            'is-valid':
              formData.controls['name'].valid &&
              formData.controls['name'].touched
          }"
          type="text"
          placeholder="Nombre"
          formControlName="name"
        />
        <div
          class="alert alert-danger mt-2"
          role="alert"
          *ngIf="
            formData.controls['name'].errors && formData.controls['name'].errors['required'] &&
            formData.controls['name'].touched
          "
        >
          Este campo es requerido
        </div>
        <div
          class="alert alert-danger mt-2"
          role="alert"
          *ngIf="
            formData.controls['name'].errors && formData.controls['name'].errors['minlength'] &&
            formData.controls['name'].touched
          "
        >
          Este campo debe tener al menos
          {{ formData.controls["name"].errors["minlength"]["requiredLength"] }}
          caracteres
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">
        <input
          class="form-control"
          [ngClass]="{
            'is-invalid':
              formData.controls['lastName'].invalid &&
              formData.controls['lastName'].touched,
            'is-valid':
              formData.controls['lastName'].valid &&
              formData.controls['lastName'].touched
          }"
          type="text"
          placeholder="Apellido"
          formControlName="lastName"
        />
        <div
          class="alert alert-danger mt-2"
          role="alert"
          *ngIf="
            formData.controls['lastName'].errors && formData.controls['lastName'].errors['required'] &&
            formData.controls['lastName'].touched
          "
        >
          Este campo es requerido
        </div>
      </div>
    </div>
  </div> -->
  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">
      <input
        class="form-control"
        [ngClass]="{
          'is-invalid':
            formData.controls['email'].invalid &&
            formData.controls['email'].touched,
          'is-valid':
            formData.controls['email'].valid &&
            formData.controls['email'].touched
        }"
        type="email"
        placeholder="Correo electrónico"
        formControlName="email"
      />
      <div
        class="alert alert-danger mt-2"
        role="alert"
        *ngIf="
          formData.controls['email'].errors &&
          formData.controls['email'].errors['required'] &&
          formData.controls['email'].touched
        "
      >
        Este campo es requerido
      </div>
      <div
        class="alert alert-danger mt-2"
        role="alert"
        *ngIf="
          formData.controls['email'].errors &&
          formData.controls['email'].errors['pattern'] &&
          formData.controls['email'].touched
        "
      >
        Este campo debe contener un correo válido
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Hobbies</label>
    <div class="col-md-8" formArrayName="hobbies">
      <input
        class="form-control mb-2"
        [ngClass]="{
          'is-invalid':
            formData.controls['hobbies'].controls[i].invalid &&
            formData.controls['hobbies'].controls[i].touched,
          'is-valid':
            formData.controls['hobbies'].controls[i].valid &&
            formData.controls['hobbies'].controls[i].touched
        }"
        type="text"
        placeholder="Hobby"
        [formControlName]="i"
        *ngFor="
          let hobby of formData.controls['hobbies'].controls;
          let i = index
        "
      />
    </div>
    <div class="col-md-2">
      <button
        class="btn btn-primary btn-block"
        type="button"
        (click)="addHobby()"
      >
        Nuevo
      </button>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Usuario</label>
    <div class="col-md-8">
      <input
        class="form-control"
        [ngClass]="{
          'is-invalid':
            formData.controls['username'].invalid &&
            formData.controls['username'].touched,
          'is-valid':
            formData.controls['username'].valid &&
            formData.controls['username'].touched
        }"
        type="text"
        placeholder="Usuario"
        formControlName="username"
      />
      <div
        class="alert alert-danger mt-2"
        role="alert"
        *ngIf="
          formData.controls['username'].errors &&
          formData.controls['username'].errors['required'] &&
          formData.controls['username'].touched
        "
      >
        Este campo es requerido
      </div>
      <div
        class="alert alert-danger mt-2"
        role="alert"
        *ngIf="
          formData.controls['username'].errors &&
          formData.controls['username'].errors['existsUsername'] &&
          formData.controls['username'].touched
        "
      >
        Este usuario ya está tomado
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Contraseña</label>
    <div class="col-md-8">
      <input
        class="form-control"
        [ngClass]="{
          'is-invalid':
            formData.controls['password1'].invalid &&
            formData.controls['password1'].touched,
          'is-valid':
            formData.controls['password1'].valid &&
            formData.controls['password1'].touched
        }"
        type="password"
        placeholder="Contraseña"
        formControlName="password1"
      />
      <div
        class="alert alert-danger mt-2"
        role="alert"
        *ngIf="
          formData.controls['password1'].errors &&
          formData.controls['password1'].errors['required'] &&
          formData.controls['password1'].touched
        "
      >
        Este campo es requerido
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Confirmar Contraseña</label>
    <div class="col-md-8">
      <input
        class="form-control"
        [ngClass]="{
          'is-invalid':
            formData.controls['password2'].invalid &&
            formData.controls['password2'].touched,
          'is-valid':
            formData.controls['password2'].valid &&
            formData.controls['password2'].touched
        }"
        type="password"
        placeholder="Confirmar contraseña"
        formControlName="password2"
      />
      <div
        class="alert alert-danger mt-2"
        role="alert"
        *ngIf="
          formData.controls['password2'].errors &&
          formData.controls['password2'].errors['required'] &&
          formData.controls['password2'].touched
        "
      >
        Este campo es requerido
      </div>
      <div
        class="alert alert-danger mt-2"
        role="alert"
        *ngIf="
          formData.controls['password2'].errors &&
          formData.controls['password2'].errors['passwordInvalid'] &&
          formData.controls['password2'].touched
        "
      >
        Las contraseñas deben ser iguales
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button
        type="submit"
        class="btn btn-outline-primary"
        [disabled]="!formData.valid"
      >
        Guardar
      </button>
    </div>
  </div>
</form>
