<h4>Formularios <small>template</small></h4>
<hr />
<form
  (ngSubmit)="save(formTemplate)"
  #formTemplate="ngForm"
  novalidate="novalidate"
>
  <div>
    <div class="form-group row ">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-md-8">
        <input
          class="form-control"
          [ngClass]="{
            'is-invalid': name.invalid && name.touched,
            'is-valid': name.valid && name.touched
          }"
          type="text"
          placeholder="Nombre"
          name="name"
          [(ngModel)]="user['name']"
          minlength="5"
          required
          #name="ngModel"
        />
        <div
          class="alert alert-danger mt-2"
          role="alert"
          *ngIf="name.errors && name.errors['required'] && name.touched"
        >
          Este campo es requerido
        </div>
        <div
          class="alert alert-danger mt-2"
          role="alert"
          *ngIf="name.errors && name.errors['minlength'] && name.touched"
        >
          Este campo debe tener al menos
          {{ name.errors["minlength"]["requiredLength"] }} caracteres
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-md-8">
        <input
          class="form-control"
          [ngClass]="{
            'is-invalid': lastName.invalid && lastName.touched,
            'is-valid': lastName.valid && lastName.touched
          }"
          type="text"
          placeholder="Apellido"
          name="lastName"
          [(ngModel)]="user['lastName']"
          required
          #lastName="ngModel"
        />
        <div
          class="alert alert-danger mt-2"
          role="alert"
          *ngIf="
            lastName.errors && lastName.errors['required'] && lastName.touched
          "
        >
          Este campo es requerido
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">
      <input
        class="form-control"
        [ngClass]="{
          'is-invalid': email.invalid && email.touched,
          'is-valid': email.valid && email.touched
        }"
        type="email"
        placeholder="Correo electrónico"
        name="email"
        [(ngModel)]="user['email']"
        required
        #email="ngModel"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
      />
      <div
        class="alert alert-danger mt-2"
        role="alert"
        *ngIf="email.errors && email.errors['required'] && email.touched"
      >
        Este campo es requerido
      </div>
      <div
        class="alert alert-danger mt-2"
        role="alert"
        *ngIf="email.errors && email.errors['pattern'] && email.touched"
      >
        Este campo debe contener un correo válido
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">País</label>
    <div class="col-md-8">
      <select
        class="form-control"
        [ngClass]="{
          'is-invalid': country.invalid && country.touched,
          'is-valid': country.valid && country.touched
        }"
        name="country"
        [(ngModel)]="user['country']"
        #country="ngModel"
        required
      >
        <option value="">Seleccione un país</option>
        <option [value]="country.code" *ngFor="let country of countries">
          {{ country.name }}
        </option>
      </select>
      <div
        class="alert alert-danger mt-2"
        role="alert"
        *ngIf="country.errors && country.errors['required'] && country.touched"
      >
        Este campo es requerido
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Sexo</label>
    <div class="col-md-8 row">
      <div class="custom-control custom-radio ml-3" *ngFor="let sex of sexs">
        <input
          [(ngModel)]="user['sex']"
          type="radio"
          class="custom-control-input"
          [id]="sex"
          name="sex"
          [value]="sex"
        />
        <label class="custom-control-label" [for]="sex">
          {{ sex }}
        </label>
      </div>
      <!-- <div class="custom-control custom-radio">
        <input
          [(ngModel)]="user['sex']"
          type="radio"
          class="custom-control-input"
          id="customControlValidation2"
          name="sex"
          value="Hombre"
        />
        <label class="custom-control-label" for="customControlValidation2"
          >Hombre</label
        >
      </div>
      <div class="custom-control custom-radio mb-3">
        <input
          [(ngModel)]="user['sex']"
          type="radio"
          class="custom-control-input"
          id="customControlValidation3"
          name="sex"
          value="Mujer"
        />
        <label class="custom-control-label" for="customControlValidation3"
          >Mujer
        </label>
        <div class="invalid-feedback">More example invalid feedback text</div>
      </div> -->
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Aceptar</label>
    <div class="col-md-8">
      <div class="custom-control custom-checkbox">
        <input
          [ngClass]="{
            'is-invalid': agree.invalid && agree.touched,
            'is-valid': agree.valid && agree.touched
          }"
          type="checkbox"
          class="custom-control-input"
          id="customCheck1"
          name="agree"
          [(ngModel)]="user['agree']"
          required
          #agree="ngModel"
        />
        <label class="custom-control-label" for="customCheck1"
          >Acepta las condiciones</label
        >
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button
        type="submit"
        class="btn btn-outline-primary"
        [disabled]="!formTemplate.valid"
      >
        Guardar
      </button>
    </div>
  </div>
</form>
<pre>
  {{ user | json }}
</pre>
